.shop-now-text {
  color: #F5D01F;
  font-weight: bold;
}

.product-image-wrapper {
  height: 350px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  background: transparent;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* 애니메이션 효과를 위한 transition 추가 */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  filter: drop-shadow(0 15px 30px rgba(0,0,0,0.4));
}

.product-name {
  font-size: 1.8rem;
  margin-top: 30px;
  font-weight: 700;
}

.product-spec {
  font-size: 1rem;
  color: #EEE1A8;
  margin-bottom: 30px;
}

.product-desc {
  margin-bottom: 40px;
  font-size: 1.1rem;
}

.buy-button {
  padding: 20px 60px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4C1C24;
  background-color: #F5D01F;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(245, 208, 31, 0.3);
  transition: transform 0.2s;
}

.buy-button:hover {
  transform: scale(1.05);
}