.intro-highlight {
  color: #EEE1A8;
}

.intro-desc {
  margin-bottom: 30px;
}

.intro-image-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.intro-image {
  width: 100%;
  max-width: 700px;
  height: auto;
  object-fit: contain;
}